.display {
  background-color: #181f33;
  color: #ffffff;

  text-align: right;
  font-size: 32px;
  line-height: 36px;

  border-radius: 10px;
  border: 0;
  outline: none;
  user-select: none;

  margin-bottom: 24px;
  padding: 26px 24px;
  width: 100%;
}
